$background-color: #f9feff;
$background-off-color: #e1f6fd;

$text-color: #646464;

$black: #202020;
$white: #f9f9f9;

$light-grey: #e0e0e0;
$grey: #8d8d8d;

$light-red: #fdbdaf;
$red: #e54d2e;

$light-blue: #acd8fc;
$blue: #0090ff;

$light-green: #adddc0;
$green: #30a46c;

$light-yellow: #fff394;
$yellow: #ffe629;

$light-purple: #cbcdff;
$purple: #6e56cf;
